/*****************************************************************************/
/* Global CSS Styles */
/*****************************************************************************/
body {
  background: #fff url("/img/retina_wood.png") repeat 0 0;
}

.app-title {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	width: 380px;
	border: 1px solid #333;
	border-radius: 4px;
	margin: 0 auto 20px;
	padding: 8px 12px;

}

.app-title .fa {
	font-size: 48px;
}

textarea {
  resize: vertical;
}