<template name="UsersIndex">
	<div style="overflow: hidden; margin-bottom:20px;">
		<div class="pull-right btn-group">
			<a class="btn btn-default" href="{{pathFor 'home'}}">Home</a>
			<a class="btn btn-default" href="{{pathFor 'dashboard'}}">Dashboard</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title-with-tools">Manage Site Users</h4>
			<ul class="panel-tools pull-right">
				<li>							
					<a href="{{pathFor "users.import"}}" class="btn btn-link import-users">
						<i class="fa fa-file-o"></i> Import users</a>						
				</li>
				<li>							
					<a href="{{pathFor 'users.create'}}" class="btn btn-success add-user">
						<i class="fa fa-plus"></i> Create new user</a>						
				</li>
			</ul>
		</div>
		<div class="panel-body">
			<div id="statusMessages"></div>
			<form id="filterUsersForm" class="form-inline">
				<div class="form-group">
					<label>Filter by</label>
					<select name="filterField" id="filterField" class="form-control">
						<option value="username">Username</option>
						<option value="profile.name">Name</option>
						<option value="roles">Role</option>
						<option value="status">Status</option>
					</select>
				</div>
				<div class="form-group">
					<input name="filterVal" id="filterVal" class="form-control">
				</div>
				<button type="submit" class="btn btn-default">Go</button>
				<a href="#" id="resetUsersFilter" class="btn btn-link">Clear filter</a>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th class="text-center"><input type="checkbox" id="cBoxToggle" title="Select/Deselect All" /></th>
						<th>Username</th>
						<th>Name</th>
						<th>Role</th>
						<th class="text-center">Status</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each users}}
						<tr class="user-item">
							<td class="text-center"><input type="checkbox" name="user" value="{{_id}}"/></td>
							<td>{{username}}</td>
							<td>{{userName _id}}</td>
							<td>{{#each roles}}<span class="label label-default {{this}}">{{this}}</span>{{/each}}</td>
							<td class="text-center">{{status}}</td>
							<td class="text-center"><a href="{{pathFor "users.edit"}}">Edit</a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<div class="form-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default" style="margin-left: 14px;">With the selected users</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle dropdown</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#" id="approveSelectedUsers">Approve accounts</a></li>
						<li><a href="#" id="disableSelectedUsers">Disable accounts</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>