/*****************************************************************************/
/* _LiveChat: Style */
/*****************************************************************************/
.livechat-message-list {
	margin-top: 20px;
	height: 342px;
	background-color: #f6f6f6;
	box-shadow: inset 1px 1px 2px #BBB;
	border-radius: 4px;
	padding: 10px 20px 5px;
	overflow: auto;
}

.livechat-message-list li {
	margin-bottom: 5px;
}