.chatter-title {
  font-weight: 300;
}

.chatter-title .fa-lg {
  vertical-align: -10%;
}

.chatter-questions {
  margin-top: 20px;
}

.chatter-questions .new-question {
  margin-bottom: 20px;
}

.chatter-questions .new-question .form-group {
  margin-bottom: 6px;
}

.chatter-questions .questions {
  margin-bottom: 20px;
}

.chatter-question {
  border: 1px solid #999;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px 20px;
  background: rgba(225,225,225,.5);
}

.chatter-question .profile {
  float: left;
}

.chatter-question .profile img {
  width: 48px; 
  height: 48px;
}

.chatter-question > div + div {
  padding-left: 64px;
}

.chatter-question h1,
.chatter-question h2,
.chatter-question h3,
.chatter-question h4,
.chatter-question h5 {
  font-size: 16px;
  margin: 0 0 4px;
}

.chatter-question .stats-line {
  font-size: 12px;
  color: #555;
}

.chatter-question .by-line {
  font-size: 12px;
  color: #999;
  padding-top: 4px;
  margin-top: 8px;
  border-top: 1px solid #999;
}