<template name="ChattersShow">
	<h2 class="chatter-title">
		<a href="{{pathFor 'chatters.index'}}" title="Back to Chatters"><i class="fa fa-lg fa-chevron-circle-left"></i></a>
		{{chatter.name}}
	</h2>
	<div class="chatter-questions">
		<div class="new-question">
			<div id="statusMessages"></div>
			<form id="newQuestion">
				<div class="form-group">
					<textarea name="message" class="form-control" rows="5" placeholder="what are your thoughts on the topic?"></textarea>
				</div>
				<button type="submit" class="btn btn-sm btn-primary">Post question</button>
			</form>
		</div>
		
		<div class="questions">
			{{#each chatter.questions}}
				<div class="chatter-question">
					<div class="profile">
						<img src="/img/profiles/generic-user.png" class="media-object img-circle" alt="profile pic" />
					</div>
					<div>
						<h3>{{createdBy}}</h3>
						<div class="timestamp">
							<i class="fa fa-calendar"></i> {{createdOn "long"}}
						</div>
						{{message}}
					</div>
				</div>
			{{else}}
				<div>No questions have been posted.</div>
			{{/each}}
		</div>
	</div> <!-- /.chatter-questions -->
</template>