/*****************************************************************************/
/* ChattersIndex: Style */
/*****************************************************************************/
.chatter-item {
	background-color: rgba(255,255,255, 0.5);
	margin-bottom: 2px;
	border: 1px solid #BBB;
}
.chatter-item h2,
.chatter-item h3,
.chatter-item h4,
.chatter-item h5 {
	font-size: 18px;
	margin: 0;
	padding: 0 6px;
	line-height: 30px;
	font-weight: 300;
}
.chatter-item a.btn {
	margin-top: -4px;
}
.chatter-item .timestamp {
	display: inline;
	font-size: 12px;
	color: #587E9B;
	margin-left: 8px;
}
.chatter-item .timestamp:before {
	content: "\f017 ";
	font-family: FontAwesome;
	margin-right: 4px;
}
.chatter-item .chatter-status {
	display: inline;
	margin: 8px 8px 0;
}
.chatter-item .chatter-status .label {
	font-weight: normal;
	letter-spacing: .1em;
}
.chatter-item-counts {
	margin-bottom: 8px;
	text-align: right;
}
.chatter-item-counts span {
	padding: 2px 6px;
	line-height: 32px;
	border: 1px solid #CEBB9E;
	border-radius: 3px;
	color: #685F50;
}
.chatter-item-counts span + span {
	margin-left: 6px;
}
.chatter-item-options {
	margin-left: 8px;
}
.chatter-item-options .btn-jumbo {
	line-height: 34px;
}
.join-code-lead {
	font-size: 6em;
	text-align: center;
	letter-spacing: 8px;
	padding: 1em 0;
}
.chatter-type {
	font-family: 'Roboto', sans-serif;
	color: #F5E1B8;
	letter-spacing: .12em;
	border: 1px solid #8F7540;
	border-radius: 3px;
	padding: 2px 4px 2px 6px;
	background-color: #C49B43;
	cursor: default;
}
.chatter-type.open {
	background-color: #288A45;
	border-color: #1A5C2E;
	color: #A2EBB7;
}
.chatter-type.closed {
	background-color: #AB2C2C;
	border-color: #892424;
	color: #F7A3A3;
}